body {
  font-family: "Montserrat";
  text-align: center;
}
img {
  object-fit: cover;
  vertical-align: middle;
  border-style: none;
  height: 70vh;
}
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #119ddd;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #cecece;
}

/* Testimonial Section */
#sch {
  padding: 7% 15%;
  background-color: #faf8f4;
}

.pink {
  width: auto;
  height: 100%;
}
#activity {
  padding: 7% 15%;
  background-color: #f0f0f0;
}
.learn {
  width: auto;
  height: 100%;
}
#culture {
  padding: 7% 15%;
  background-color: #f8f8f8;
}
.taek {
  width: auto;
  height: 100%;
  margin-left: 32%;
}

.ninjas {
  height: 100vh;
  width: auto;
  border-radius: 100%;
  position: relative;
  align-items: center;
}
.p {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}
#testimonials {
  background-color: #c1e0f5;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* footer */

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
#footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10;
  background-color: #119ddd;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
